
h1{
  font-size: 4rem;
  font-weight: lighter;
  font-family:Georgia, 'Times New Roman', Times, serif;
}
header{
  display: flex;
  flex-direction: column;
  align-items: center;
}

nav{
 display: flex; 
 gap: 10px;

}

a{
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: bolder;
  color: black;
  background-color:khaki;
  border-radius: 20px;
  padding: 10px;
  margin: 10px;

}

a:hover{
  color:white;
  background-color:lightslategrey;
}

section{
  display: flex;
  flex-direction: column;
  align-items: center;
}


body{
  background-image: url("../img/icecream2.jpg");
}

header,main , img{
  background-color: white;
  padding: 15px;
  border-radius: 10%;
  border-color:deepskyblue;
  border-style:dotted;
  margin-left: 100px;
  margin-right: 100px;
}