h1{
  font-size: 4rem;
  font-weight: lighter;
  font-family:Georgia, 'Times New Roman', Times, serif;
}

nav{
 display: flex; 
 gap: 10px;

}

header{
  display: flex;
  flex-direction: column;
  align-items: center;
}


a{
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: bolder;
  color: black;
  background-color:khaki;
  border-radius: 20px;
  padding: 10px;

}

a:hover{
  color:white;
  background-color:lightslategrey;
}


#img-index-freezer{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap:20px;
}
